* {
    font-family: roboto;
}

img {
    width: 150px;
    height: 125px;
}
.header {
    background-color: #1f2937;
    display: flex;
    color: white;
    padding: 20px;
    justify-content: center;
    gap: 650px;
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
}
.right-links {
    color: #e5e7eb;
    display: flex;
    gap: 10px;
    font-size: 18px;
}
.apple-introduction {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 375px;
}
.apple-main-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    width: 400px;
}
.header-image {
    width: 400px;
    height: 225px;
}
.button {
    flex-grow: 0;
    align-self: flex-start;
    background-color: #3882f6;
}
.info-container-title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}
.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 245px;
}
.info {
    width: 150px;
}
.text {
    font-size: 18px;
    font: #f9faf8;
}
.testimonial-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 20px;
    height: 285px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 600px;
}
.quote-author {
    background-color: #e5e7eb;
    font-weight: bold;
    align-self: flex-end;
    font-size: 18px;
    margin-right: 40px;
}
.sign-up-container {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.action-container {
    background-color: #3882f6;
    padding: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.sign-up-text {
    color: white;
}
.button-container {
    background-color: #3882f6;
    align-self: center;
    padding: 40px;
}